body {
    margin: 0;
    padding: 0;
}
#headers {
    align-content: center;
}
#headers:hover {
    cursor: pointer;
}
#header-box {
    display: flex;
    background-color: dodgerblue; /* Let's go Dodgers */
    font-family: 'Arial Rounded MT ExtraBold', sans-serif;
    flex-wrap: wrap;
    color: white;
    height: 15vh;
    width: 100%;
    padding-top: 3vh;
}
#body-box {
    display: flex;
    background-repeat: repeat;
    background-size: 150px;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 5vh;
    width: 100%;
    padding-top: 5vh;
    padding-left: 5vh;
    padding-right: 5vh;
    padding-bottom: 2vh;
}
#left-box, #right-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
#me-section {
    display: flex;
    align-content: space-evenly;
    border: 3px solid blueviolet;
    /* padding: 5px; */
    margin-bottom: 5vh;
}
#me-box {
    display: flex;
    flex-flow: row wrap;
    align-content: left;
    width: 100%;
    background-color: #f1f1f1;
}
#profile-picture {
    max-width: 300px;
    max-height: 300px;
}
#profile-bio {
    margin-left: 0.5em;
    padding: 10px 10px 10px 10px;
}
#im-online {
    max-width: 100px;
    max-height: 100px;
}
table {
    border-spacing: 1vh;
    width: 100%;
}
h1, h3 {
    padding-left: 2vh;
    line-height: 0.75;
}
div {
    align-content: center;
}
.friend {
    /* align-content: center; */
    width: 25%;
    height: 25%;
    /* border: 5px solid green; */
}
.friend-picture {
    border: 5px solid purple;
    margin-left: 1.5vw;
    height: 15vh;
    width: 15vh;
}
.friend-name{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    /* border: 2px solid purple; */
}
p {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1;
}
#logo {
    max-width: 125px;
    max-height: 125px;
}
#logo:hover {
    cursor: pointer;
}
#blurb-section {
    margin-bottom: 5vh;
    border: 3px solid blueviolet;
    background-color: #f1f1f1;
}
.right-hyperlink {
    width: 50%;
}
.container-box {
    background-image: url('images/backgrounds/i-be-super-wavy.gif');
    background-position: 60px;
    border: 2px solid purple;
}
#friends-section {
    background-color: #f1f1f1;
    border: 3px solid purple;
}
#contact-section {
    border: 3px solid blueviolet;
    background-color: #f1f1f1;
    margin-bottom: 5vh;
}
#is-in-your-extended-network {
    font-weight: bolder;
    background-color: #f1f1f1;
    border: 5px solid black;
    margin-bottom: 10vh;
    text-align: center;
    padding: 2vh;
}
.left-hyperlink, .right-hyperlink {
    background-color: #f1f1f1;
    text-align: left;
    padding: 2px;
    justify-content: center;
}
.icons {
    align-items: left;
    justify-content: left;
    padding: 2px;
    width: 3vw;
    height: 3vh;
    vertical-align: center;
}
.contact-section-button {
    width: 100%;
    border: 2px solid purple;
}
#ad-section {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}
#about-menu {
    background-color: black;
}
.blurb p {
    padding-left: 5%;
    color: white;
}
#about-text {
    margin-top: 2vh;
    margin-bottom: 2vh;
}
#about-text p {
    font-size: 125%;
    font-family: monospace;
    line-height: 0.5;
    white-space: nowrap;
}
@keyframes blinking {
    /* 0% {opacity: 1;}
    100% {opacity: 0;} */
    50% {opacity: 0;}
}
#blinking-cursor {
    animation: blinking 1200ms linear infinite;
}
.graphics-box {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 5vh;
}
.graphic {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vh;
}
.glitter-letters {
    height: 10%;
    width: 10%;
}
.contact-section-button:hover {
    background-color: #6495ed;
    cursor: pointer;
    opacity: 75%;
}
a {
    text-decoration: none;

    width: 100%;
}
.friend:hover {
    background-color: #6495ed;
    opacity: 90%;
}
/* #me:hover {
    /* border: 3px solid white; */
    /* font-weight: 900;
    cursor: pointer;
} */
/* #this-website:hover { */
    /* border: 3px solid white; */
    /* font-weight: 900;
    cursor: pointer; */
/* } */
#music-player {
    margin-bottom: 10vh;
}
.skill-picture {
    height: 100px;
    width: 100px;
    padding: 10px 5px 0px 5px;
}
#skills-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#message-form-box {
    padding: 10vh;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#form {
    width: 100%;
}
#ad {
    border: 2px solid purple;
    width: 75%;
    height: 75%;
}
#ad-box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
footer {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
dialog {
    text-align: center;
    padding: 0;
    max-width: 75vw;
}
#ghostface, #clippy {
    max-height: 20vh;
}
.banner {
    display: flex;
    flex-direction: initial;
    align-items: left;
}
#contact-buttons-all {
    display: grid;
    grid-template-columns: auto auto;
    padding: 3px;
    gap: 3px;
}
#friend-box {
    display: flex;
    flex-wrap: wrap;
}
#yo-homies {
    width: 75%;
}
#private-key-block {
    background-color: black;
    text-align: left;
}
#private-key-text, .terminal-command {
    font-family: monospace;
    color: white;
    padding-left: 2vh;
    padding-bottom: 1vh;
}
.terminal-command {
    padding-left: 2vh;
    padding-bottom: 1.5vh;
}
#terminal-header, .pop-up-banner {
    display: flex;
    flex-wrap: wrap;
    /* background-color: #71797E; */
    background-color: #6082B6;
    border: 2px solid black;
    max-height: 5%;
    max-width: 100%;
}
.header-buttons {
    height: 1.5vh;
    width: 1.5vh;
    margin: 0.5%;
    font-weight: bold;
    text-align: center;
    border: 3px solid black;
    border-style: outset;
    background-color: #E5E4E2;
}
.header-buttons:hover {
    cursor: pointer;
    border-style: inset;
}
#command-cursor {
    animation: blinking 1200ms linear infinite;
}
#block-choices {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
#block-popup {
    width: 25vw;
}